<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="angularTutorial">
    <div ng-controller="TutorialCtrl as tutorial">
        <input ng-model="data.name"></input>
        <h1>Hello, {{ data.name }}</h1>
        <input ng-model="data.color"></input>
        <font color="{{ data.color }}">
            <h1>My color changes depending on what you type</h1>
        </font>
        Time: {{ data.timer }} {{ data.timer > 1 ? 'seconds' : 'second' }}
    </div>
</body>
</html>
