<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="angularTutorial">
    <div ng-controller="TutorialCtrl as tutorial">
        <input ng-model="name"></input>
        <h1>Hello, {{ name }}</h1>
        <input ng-model="color"></input>
        <font color="{{ color }}">
            <h1>My color changes depending on what you type</h1>
        </font>
        Time: {{ clock }}
    </div>
</body>
</html>
